<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= APP_TITLE %></title>
</head>

<body>
<div id='app'>
    <pre id="status">

    </pre>
</div>

<script type="text/javascript">
    <%= JS_ENVIRONMENT %>
</script>
<script type="text/javascript">
    console.log(globals);

    var webSocket = new WebSocket(globals.wsProtocol + "://" + globals.hostName + "/status-socket");

    function getTotals(data) {
        var recordTotals = {};

        for (var k in data) {
            if (data.hasOwnProperty(k)) {
                for (var status in data[k]) {
                    recordTotals[status] = recordTotals[status] || 0;
                    recordTotals[status] += data[k][status];
                }
            }
        }
        return recordTotals;
    }
    webSocket.onmessage = function (payload) {
        var data = JSON.parse(payload.data);
        var recordTotals = getTotals(data.recordStatus);
        var errorTotals = getTotals(data.errorStatus);
        document.getElementById("status").innerHTML = JSON.stringify({
            status : data,
            totals : {
                records: recordTotals,
                errors: errorTotals
            }
        }, null, 4);
    };

    function pingWs() {
        webSocket.send("* ping! *");
        window.setTimeout(pingWs, 8000);
    }

    webSocket.onopen = pingWs;

</script>
</body>
</html>